 .card {
    background-color: #0000000a;
    border: none;
    padding: 25px 10px 25px 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px -11px black;
}

 .card .image {
    text-align: center;
}

.card .image img {
    max-width: 100%;
    height: 180px;
}

.card h3 {
    font-size: 21px;
    padding-top: 15px;
}

.card h4 {
    font-size: 15px;
    font-weight: 400;
    color: #555151;
    text-transform: capitalize;
}

.card h4 span {
    color: black;
    font-weight: 600;
}

.card p {
    font-size: 15px;
    font-weight: 400;
    color: #555151;
    text-transform: capitalize;
}

.card p span {
    color: black;
    color: red;
    font-weight: 700;
}

.card .buttons {
    display: flex;
    justify-content: space-between;
}
.card .buttons a{
    text-decoration: none;
}
.card .buttons a:nth-child(1) {
    color: rgb(56 189 248);
    border: 1px solid rgb(56 189 248);
    padding: 5px 11px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 17px;
    transition: .3s;
}
.card .buttons a:nth-child(1):hover{
    background-color: rgb(56 189 248);
    color: #fff;
}
.card .buttons a:nth-child(2) {
    background-color: rgb(56 189 248);
    border: none;
    padding: 5px 11px;
    border-radius: 7px;
    color: #fff;
    transition: 0.3s;
}
.card .buttons a:nth-child(2):hover{
    background-color: transparent;
    color: rgb(56 189 248);
    border: 1px solid rgb(56 189 248);
}