.details {
    background-color: rgb(243 244 246/1);
    padding: 80px 0;
}

.details .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:576px){
    .details .container{
        padding: 0;
    } 
}
.details .container .image {
    width: 37%;
    text-align: center;
}
@media (max-width:992px) {
    .details .container .image {
        width: 100%;
    }
}
.details .container .image img {
    width: 80%;
}

.details .container .content {
    width: 55%;
    padding: 0 20px;
}
@media (max-width:992px) {
    .details .container .content {
        width: 100%;
        padding-top: 30px;
    }
}
.details .container .content h2 {
    font-size: 38px;
    font-weight: 400;
}
.details .container .content p.price{
    font-size: 17px;
    font-weight: 500;
}
.details .container .content p.price span {
    font-weight: 700;
    font-size: 20px;
}

.details .container .content h4 {
    font-size: 18px;
}

.details .container .content h4 span {}

.details .container .content p.key {}

.details .container .content .dsecr {}

.details .container .content .rate {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}

.details .container .content .rate span.two {

}
.details .container .content .rate span.two span{
    color: red;
    font-size: 17px;
    font-weight: 700;
}
.details .container .content a{
    text-decoration: none;
    background-color: rgb(14 165 233/1);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 3px 0;
}